@import url('../../css/global/global.css');

header {
    margin-bottom: 60px;
}

.img-apresentacao {
    width: 80%; 
}

.texto-apresentacao h2 {
    display: flex;
    flex-direction: column;
    color: #9ACD32;
    font-family: "Archivo Black", sans-serif;
    font-size: 4em;
}

.texto-apresentacao {
    text-align: left; 
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 600px; 
    margin-left: 40px;
}

.texto-apresentacao p {
    width: 70%;
    font-size: large;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-style: normal;
}

.apresentacao-salad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    height: 600px; 
    margin-top: 40px;
    box-sizing: border-box;
    position: relative;
}

.ingredientes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9ACD32;
    align-content: baseline;
    height: 600px;
}

.ingredientes h3 {
    color: beige;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    text-align: left;
}

.titulo-2 h2 {
    color: beige;
    margin-top: 200px;
    font-family: "Archivo Black", sans-serif;
    font-size: 4em; 
    text-align: left; 
}

.texto-ing {
    margin-left: 140px;
    align-items: center;
}

.ingredientes ul {
    color: beige;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.preparo h2 {
    color: #9ACD32;
    font-family: "Archivo Black", sans-serif;
    font-size: 4em; 
    align-self: center;
}

.preparo {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 100%; 
    height: 600px; 
    margin-left: 40px;
}

.preparo ol {    
    width: 80%;
    align-self: center;
    padding: 5px;
    color: black;
    font-size: x-large;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.back-button {
    position: fixed;
    top: 120px; /* Distância do topo da página */
    left: 20px; 
    background-color: #778899;
    color: white; 
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px; 
    text-decoration: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
    transition: background-color 0.3s;
}

.back-button:hover {
    transform: scale(1.1);
}

