@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');

a {
    text-decoration: none;
}

header {   
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding: 0;
}

.caixa-menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: beige; 
    padding: 10px 20px; 
    z-index: 1000; 
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
}

.caixa-menu-principal.transparent {
    background-color: transparent; 
    box-shadow: none; 
}

.caixa-menu-principal.transparent h1,
.caixa-menu-principal.transparent a {
    color: #BDE038; 
    transition: color 0.05s ease; 
}

h3 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 2em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    background-color: beige;
    margin: 0;
    padding-top: 80px;
    overflow-x: hidden;
    
}

.menu {
    font-family: "Oswald", sans-serif;
    list-style-type: none; 
    display: flex; 
    gap: 20px; 
    justify-content: center;  
    padding: 0 20px;
}

.titulo-e-imagem h1 {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #BDE038;
    margin: 0;
    margin-right: 10px;
    
}

.titulo-e-imagem img {
    width: 65px;
}

.titulo-e-imagem {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo {
    width: 0px; 
    height: auto;
    align-self: auto; 
}



footer {
    display: flex;   
    height: 100%;              
    flex-direction: column;       
    align-items: center;          
    text-align: center;           
    padding: 20px;                
    background-color: #778899;   
    height: 250px;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: 1px solid green;

}

footer h4 {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-style: normal;
    color: beige;
    margin-bottom: 3px;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-style: normal;
    color:beige;
    margin: 3px;
}

.link-redes {
    display: flex;                
    gap: 15px;
    margin: 8px;                  
}

.link-redes img {
    width: 40px;                 
    height: 40px;    
    margin-bottom:30px;      
}

.creditos {
    font-family: "Montserrat", sans-serif;
    font-size: small; 
    color: beige; /* Cor do texto */
    margin-top: 5px; /* Espaçamento superior */
    text-align: center; /* Centraliza o texto */
}

.creditos a {
    color:beige;
    text-decoration: none; 
}

.creditos a:hover {
    text-decoration: underline; 
}

.button-icon {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: white; 
    background-position: center;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
}

.icon-profile {
    height: 30px;
    border-top: 60px;
}


