@import url('../../css/global/global.css');

main {
    margin-bottom: 0;
}

body {
    background-color: beige;
    margin: 0;
    padding-top: 0;
}

.caixa-info {
    display: flex; 
    position: relative;
    width: 100%; 
    overflow: hidden;
    height: 700px;
    padding: 10px;
}

.caixa-texto, .caixa-img {
    width: 50%;
}

.caixa-img {
    display: flex; /* Usar flexbox para alinhar o ícone e a imagem */
    align-items: center;
}

.caixa-texto {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
}

.caixa-texto h2 {
    color: #778899;
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    text-align: left;
}

.caixa-texto p {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-style: normal;
    color: black;
    margin: 0;
}

.icon-img {
    justify-self: center;
    background-color: #778899;
    width: 300px;        /* Tamanho do círculo */
    height: 400px;       /* Deve ser o mesmo que a largura para ser um círculo */
    border-radius: 20%;  /* Faz o quadrado virar um círculo */
    display: flex;     
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    margin-right: 20px; /* Espaço entre o ícone e a imagem */
}



.footer p {
    color: beige;
}
