@import url('../../css/global/global.css');

main {
    margin-bottom: 0;
}

body {
    background-color: beige;
    margin: 0;
    padding-top: 0;
}

.caixa-info {
    display: flex; 
    position: relative;
    width: 100%; 
    overflow: hidden;
    height: 700px;
    padding: 10px;
}

.caixa-texto, .caixa-img {
    width: 50%;
}

.caixa-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-texto {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
}

.caixa-texto h2 {
    color: #778899;
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    text-align: left;
}

.caixa-texto p {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-style: normal;
    color: black;
    margin: 0;
}

.icon-img {
    justify-self: center;
    background-color: #778899;
    width: 400px;       
    height: 400px;      
    border-radius: 60%;  
    display: flex;     
    justify-content: center;  
    align-items: center;      
    margin-right: 20px;
    margin-left: 40px; 
    position: relative;
    z-index: 1;
}

.bruna  {
    width: 400px;
    height: 400px;  
    display: flex;     
    justify-content: center;  
    border-radius: 60%;
    align-items: center;      
    margin-right: 40px;
    margin-left: 140px;
    position: absolute;
    z-index: 2;
 
}



.footer p {
    color: beige;
}
