@import url('../../css/global/global.css');

.linha-com-simbolo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha {
    flex: 1;
    height: 3px;
    width: 900px;
    background-color: #778899; /* Cor da linha */
    margin: 0 10px;
    border: none; /* Espaço entre a linha e o símbolo */
}

.simbolo-icon  {
    width: 40px;
}

.caixa-receitas {
    display: flex;
    height: 600px;
    width: 100%;
}

.lado-esquerdo {
    padding: 20px;
    background-color: beige;
    display: flex;
    width: 50%;
    flex-direction: column; 
}

.lado-direito {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.caixa-receitas h3 {
    color: #778899;
    font-family: "Archivo Black", sans-serif;
    font-size: 4em;
}

.caixa-receitas p {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adiciona espaçamento entre os elementos */
}

.caixa-dicas {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.caixa-dicas img {
    width: 30%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.img-post {
    width: 40%;
    max-height: 80%; /* Impede que a imagem ultrapasse o limite */

}

.slogan {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 1700px;
    padding: 50px;
    align-items: center;
    background-color: #9ACD32;
    margin: 30px  auto;
    margin-bottom: 40px;
    margin-top: 80px;
    border-radius: 30px;
    justify-content: space-between;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.3);   
}

.slogan img{
    height: 170%;
    z-index:10;
}

.imagem-slogan {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-slogan h1 {
    color: beige; 
    font-size: 6em; 
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

.imagem-slogan h2 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large; 
    color: beige;
    margin-top: 0;
}

.imagem-slogan p {
    font-family: "Montserrat", sans-serif;
    font-size: large; 
    color: beige;
    margin-top: 0;
    text-align: center;

}


