@import url('../../css/global/global.css');

.caixa-post {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    align-items: center;
    border: none;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #D1D4B9; 
    border-top-left-radius: -50px; 
    border-top-right-radius: -50px;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.img-post {  
    height: 80%;
}

.slogan {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 1700px;
    padding: 50px;
    align-items: center;
    background-color: #9ACD32;
    margin: 30px  auto;
    margin-bottom: 40px;
    margin-top: 80px;
    border-radius: 30px;
    justify-content: space-between;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.3);   
}

.slogan img{
    height: 170%;
    z-index:10;
}

.imagem-slogan {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-slogan h1 {
    color: beige; 
    font-size: 6em; 
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

.imagem-slogan h2 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large; 
    color: beige;
    margin-top: 0;
}

.imagem-slogan p {
    font-family: "Montserrat", sans-serif;
    font-size: large; 
    color: beige;
    margin-top: 0;
    text-align: center;

}


